@font-face {
    font-family: 'overpassregular';
    src: url('../fonts/overpass_regular-webfont.eot');
    src: url('../fonts/overpass_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/overpass_regular-webfont.woff2') format('woff2'),
         url('../fonts/overpass_regular-webfont.woff') format('woff'),
         url('../fonts/overpass_regular-webfont.ttf') format('truetype'),
         url('../fonts/overpass_regular-webfont.svg#overpassregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'overpassbold';
    src: url('../fonts/overpass_bold-webfont.eot');
    src: url('../fonts/overpass_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/overpass_bold-webfont.woff2') format('woff2'),
         url('../fonts/overpass_bold-webfont.woff') format('woff'),
         url('../fonts/overpass_bold-webfont.ttf') format('truetype'),
         url('../fonts/overpass_bold-webfont.svg#overpassbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'overpassregular';
}

body,html
{ 
	height:100%; 
	margin:0;
}

.wrapper
{
	height: auto;
	min-height: 92%;
}

footer
{
	background-color: #272d43;
	color: #fff;
    display:block;
}

.logo
{	
	padding-bottom:  10px;
	padding-left:  30px;
	width: 80px;
}

.navbar-default
{
	text-transform: uppercase;
	border-color: transparent;
	background-color: #272d43;
	padding-top: 10px;
	-webkit-transition: all .25s ease-in;
       -moz-transition: all .25s ease-in;
        -ms-transition: all .25s ease-in;
         -o-transition: all .25s ease-in;
            transition: all .25s ease-in;
}

.navbar-default .navbar-nav > li > a 
{
    color: #fff;
    font-family: 'overpassbold';
    font-size: medium;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
	color: #a2c63c;
}

.navbar-default .navbar-nav > li > a:active
{
	color: #a2c63c;
}

.navbar-default .navbar-nav > li > .activo
{
	color: #a2c63c;
}

header .img-header
{
	text-align: center;|
	color: #fff;
	background-image: url(../img/camion-header.jpg);
	background-size: 300% auto;
	background-position: 90% 100%; 
	height: 400px;
	background-repeat: no-repeat;
}

.row-header
{
	padding-top: 100px
}

.panel-title
{
	font-family: 'overpassbold';
    font-size: x-large;
}


.item-seccion
{
	padding: 25px;
	max-width: 400px;
	display: block;
	margin: 0 0 15px;
	margin: 0 auto;
}


.item-seccion
{
	min-height: 300px;
}


.nombre-header
{
	color: #FFF;
	font-family: 'overpassbold';
    font-size: xx-large;
    padding-left: 15px;
	
}


@media(max-width: 992px)
{
	.nav > .nombre-header
	{
		display: none;
	}
}


@media (min-width:768px)  /*SM -SMALL*/
{
	header .img-header
	{
		background-size: 120% auto;
		height: 400px;
		background-position: 100% 100%; 
	}
	
	.navbar-default
	{
		background-color: #272d43;	
		padding-top: 10px;
	}
	
	.navbar-default .navbar-nav > li > a 
	{
		font-size: medium;
	}

	.row-header
	{
		padding-top: 120px
	}

	.item-seccion
	{
		min-height: 400px;
	}
	
	.btn-seccion
	{
		position: absolute; 
		bottom: 40px;
		right: 35px;
	}

	.navbar-default .navbar-nav > .log > a 
	{
		font-family: 'overpassregular';
		font-size: small;
	}

}

@media (min-width:992px)  /*MD - MEDIUM*/
{
	header .img-header
	{
		background-size: 120% auto;
		height: 300px;
		background-position: 100% 100%; 
	}
	
	
	.navbar-default .navbar-nav > li > a 
	{
		font-size: large;
	}

	.row-header
	{
		padding-top: 130px
	}

	.item-seccion
	{
		min-height: 450px;
	}

	.btn-seccion
	{
		position: absolute; 
		bottom: 40px;
		right: 65px;
	}

	.nombre-header
	{
		color: #FFF;
		font-family: 'overpassbold';
	    font-size: x-large;
	    padding-left: 15px;
	    padding-top: 8px;
	}
}

@media (min-width:1200px) /*LG - LARGE*/
{
	header .img-header
	{
		background-size: 100% auto;
		height: 300px;
		background-position: 0% 0%;
		padding-top: 0px;
	}
	
	.navbar-default .navbar-nav > li > a 
	{
		font-size: large;
	}
	
	.row-header
	{
		padding-top: 200px
	}

	.item-seccion
	{
		min-height: 300px;
	}

	.btn-seccion
	{
		position: absolute; 
		bottom: 40px;
		right: 35px;
	}

	.social
	{
		color: #fff;
		float: right;
		padding-left: 15px;	
	}

	.nombre-header
	{
		color: #FFF;
		font-family: 'overpassbold';
	    font-size: xx-large;
	    padding-left: 15px;
	     padding-top: 0px;
	}

	.navbar-default .navbar-nav > .log > a 
	{
		font-family: 'overpassregular';
		font-size: small;
	}

}
 
@media (min-width:1500px) /*LG - LARGE*/
{
	header .img-header
	{
		background-size: 100% auto;
		height: 700px;
		background-position: 0% 0%;
		padding-top: 0px;
	}
}




.navbar-color
{
	background-color: #272d43;	
}

.btn-derecha
{
	float: right;

}
.verde
{
	color: #3C763D;
}

.img-seccion
{
	max-height: 130px;
	width: auto;
}

.btn-seccion
{
	float: right;
}

.social
{
	color: #fff;
	padding-left: 15px;	
}

.social:hover
{
	color: #3C763D;
}

.img-center
{
	margin-left: auto;
  	margin-right: auto;
  	display: block;
}

.navbar-fijo
{
	background-color: #272d43;
}

.submenu > li > a
{
	background-color: #272d43;
	color: white;
	font-family: 'overpassbold';
	font-size: large;
	border-radius: 10px 10px 0 0;
}

.submenu.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #DDD;
    border-radius: 10px 10px 0px 0px;
    margin-right: 10px;
} 

.submenu > li.active > a, .submenu > li.active > a:hover, .submenu > li.active > a:focus 
{
	color: #fff;
	background-color: #a2c63c;
}

.submenu.nav-tabs.nav-justified > li > a:hover
{
	color: #a2c63c;
}

.submenu.nav-tabs.nav-justified > li.active > a:hover
{
	color: #fff;
}


.titulo
{
	font-size: 40px;
}

.titulo-p
{
	font-size: large;
}
.modulo-titulo
{
	background-color: #4e8e3a;
	border-radius: 10px;
	color: white;
}

#map-canvas 
{
    height: 300px;
    margin: 0px;
    padding: 0px
}

*
{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.social-lateral
{
	position: fixed;
	left:0;
	top:40%;
	z-index: 100;
}

.social-lateral ul
{
	list-style: none;
}

.social-lateral ul li a 
{
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	font-size: large;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.social-lateral ul li .icon-twitter{background:#00abf0;}
.social-lateral ul li .icon-facebook{background:#3b5998;}
.social-lateral ul li .icon-instagram{background:#517FA4;}
.social-lateral ul li .icon-mail3{background:#666666;}

.social-lateral ul li a:hover
{
	padding: 10px 30px;
	background: #000;
}

.img-ampliar:hover
{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o transform: scale(1.5);
	transform: scale(1.5);
}