.modulo-titulo
{
	background-color: #272d43;
	border-radius: 10px;
	color: white;
}

.navbar-admin
{
	background-color: #272d43;
}

.nav-tabs
{
	text-transform: uppercase;
	border-color: transparent;
	background-color: #272d43;
	border-radius: 3px;
}


.nav-tabs > li > a 
{
    color: #fff;
    font-family: 'overpassbold';
    font-size: medium;
}

.panel-default > .panel-heading > .panel-principal
{
	font-size: xx-large;
}

.dataTables_wrapper > div > div > .dataTables_filter > label
{
	float: left;
}



@media (min-width:768px)  /*SM -SMALL*/
{
	.dataTables_wrapper > div > div > .dataTables_filter > label
	{
		float: right;
	}
}

@media (max-width:768px)  /*SM -SMALL*/
{

	.pagination > li 
	{
    	display: none;
	}
	
	.pagination > .prev
	{
		display: inline;
	}

	.pagination > .next
	{
		display: inline;
	}

	.dataTables_length
	{
		display: none;
	}
}

.badge
{
	font-family: 'arial';
	font-style: normal;
	color: white;
}
.badge-success
{
	background:#5cb85c;
}

.badge-warning
{
	background:#EC971F;
}

.badge-danger
{
	background:#D9534F;
}

.badge-info
{
	background:#5BC0DE;
}

.badge-primary
{
	background:#337AB7;
}


.panel-heading > .panel-title > a:hover
{
    color: #000;
    text-decoration: none;
}

.panel-heading > .panel-title > a:focus
{
	text-decoration: none;
}

.modal-dialog > .modal-content > .modal-body > .img-contenedor
{
	width: 80%;
	box-shadow: 0 0 10px 8px #ccc;
}


.map-canvas
{
	width: 90%;
	height:300px;
    padding: 0px;
    margin-left: auto;
  	margin-right: auto;
}

.form-group
{
	margin-left: auto;
  	margin-right: auto;
	width: 95%;
}