body
{
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
}

.contenedor
{
	width: 70%;
	margin: 0 auto;
}

.contenedor > p
{
	text-align: justify;
}

.contenedor > .centro
{
	text-align: center;
}

.contenedor > p > span.drop-cap 
{
	float: left;
	font-size: 3.5em;
	line-height: 1;
	font-weight: bold;
	margin-right: 0.2em;
	color: white;
	background-color: #C00000;
}

.contenedor > p > .texto-rojo , .contenedor > .texto-rojo
{
	color: #C00000;
}